<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Объявления</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex flex-wrap">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Объявления</a>
                <div class="collapse navbar-collapse justify-content-center d-flex flex-wrap" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="/">Main</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/create">Create ad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/stats">Stats</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container-lg mt-3">
        {% block content %}
        {% endblock %}
    </main>
    <footer>

    </footer>
</body>
</html>